@font-face {
  font-family: "devicons";
  src: local("devicons"), url("fonts/devicons.otf") format("opentype"),
    url("fonts/devicons.woff") format("woff"),
    url("fonts/devicons.woff2") format("woff2");
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

label {
}

#search {
  width: 100%;
}

.icon {
  font-family: "devicons";
}
